.botonMiPerfil {
    display: inline-block;
    cursor: pointer; /* Añadir cursor de puntero para indicar que es clickeable */
}

.fotoMipefil {
    width: 35px;
    height: 35px;
    

}
.desc{
    font-size: 14px;
}