.nombreContainer {
  position: absolute;
  bottom: 0; /* Pegado a la parte baja del contenedor de la imagen */
  left: 10px; /* Ajusta según necesidad */
  font-size: 20px;
  color: #ffffff;
  font-family: system-ui;
  font-weight: bold; /* Puedes usar 'bold' para texto más grueso */
  }
  