.direYval {
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Alinea los elementos verticalmente al centro */
    padding: 10px; /* Espacio interno opcional */
  }
  .botonCarrito {
    margin-left: 35%;
    padding: 8px 15px;
    background-color: #f5970bbf; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  