.card {
    flex: 0 0 auto;
    width: 180px; /* Ancho reducido */
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    background-color: #FFF7E9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    margin: 10px 0; /* Ajuste para separación vertical */
    position: relative; /* Necesario para posicionar el texto dentro de la imagen */
}

.imagenPanaderia {
    width: 100%;
    height: 100px; /* Altura ajustada */
    object-fit: cover;
}

.nameCard {
    font-size: 12px; /* Tamaño de fuente reducido */
    font-weight: bold;
    margin: 0;
    color: #fff; /* Texto blanco para contraste */
    position: absolute; /* Posicionar sobre la imagen */
    bottom: 5px; /* Ajustar posición */
    left: 5px; /* Ajustar posición */
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejor visibilidad */
    padding: 2px 5px; /* Añadir padding */
    border-radius: 3px; /* Bordes redondeados */
}

.cardFooter {
    display: flex;
    justify-content: space-between; /* Mejor distribución de espacio */
    align-items: center;
    padding: 8px; /* Padding reducido */
    background-color: #F5F5F5;
    border-top: 1px solid #ddd;
}

.footerItem {
    display: flex;
    align-items: center;
}

.estrella {
    width: 16px; /* Tamaño reducido */
    height: 16px; /* Tamaño reducido */
    margin-right: 5px;
}

.textCardFooter {
    font-size: 12px; /* Tamaño de fuente reducido */
    margin: 0;
    color: #666;
}

.imageContainer {
    position: relative;
}

.nameCard {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    font-size: 12px;
    border-radius: 3px;
}
