.botonAtras {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 20px;
}

.imagenAtras {
    width: 35px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
}
