.contenedor {
  padding: 15px;
  margin: 10px auto;
  max-width: 900px;
  background: #ffffff;
}

.titulo {
  font-size: 22px;
  margin-bottom: 25px;
  color: #2d3436;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}


.lista {
  list-style: none;
  padding: 0;
  margin: 0;
}

.infoProducto{
  padding-right: 10px;
}

.itemLista {
  background: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}


.botonEliminar {
  background: linear-gradient(135deg, #e67e22, #d35400);
  border: none;
  color: rgb(235, 223, 223);
  padding: 12px 22px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.mensajeVacio {
  text-align: center;
  color: #7f8c8d;
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}

.botonCantidad {
  background-color: #d35400;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  margin: 0 5px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.numeroCantidad {
  font-size: 15px;
  text-align: center;
}

