/* agregarDirecciones.module.css */

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
  border-radius: 10px; 
  box-shadow: 3px 1px 5px 2px rgba(0,0,0,0.24);
  -webkit-box-shadow: 3px 1px 5px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 3px 1px 5px 2px rgba(0,0,0,0.24);
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold; 
  color: #333333; 
  }
  
  .form {
    display: flex;
    flex-direction: column;

  }
  
  .form-group {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #333333;
    font-weight: bold;
    display: block;
  }
  
  .input, .textarea {
    width: 90%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #FFD966;
    background-color: #FFF7E6;
    font-size: 16px;
  }
  
  .textarea {
    width: 90%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #FFD966;
    background-color: #FFF7E6;
    font-size: 16px;
    resize: vertical;
  }
  
  .button {
    width: 97%;
    padding: 10px;
    border-radius: 8px;
    background-color: #FFF7E6;
    border: 1px solid #FFD966;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #FFD966;
  }
  