.botonFlecha {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer; /* Añadir cursor de puntero para indicar que es clickeable */
}

.fotoFlecha {
    width: 30px;
    height: 30px;
    font-family: 'Poppins', sans-serif;
}