/* metodosAPagar.module.css */

.container {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  font-family: 'Arial', sans-serif;
}

.titulo, .titulo2 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
}

.direccion, .envio, .metodoPago, .resumen {
  margin-bottom: 20px;
}

.direccion{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ubicacion {
  font-size: 16px;
  color: #888;
  margin-top: -20px;
  text-align: center;
}

.botonCambiar {
  font-size: 14px;
  color: #00b94a;
  background: none;
  border: none;
  cursor: pointer;
}
.divLocal{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tituloLocal{
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}
.nombreLocal{
  font-size: 16px;
  color: #888;
}

.envioOpciones {
  display: flex;
  justify-content: space-between;
}
.pagoOpciones {
  display: flex;
  justify-content: space-between;
}

.botonEnvio {
  display: flex;
  flex-direction:row ;
  align-items: center;
  background-color: #fff7e6;
  border: 1px solid #ffa500;
  border-radius: 10px;
  padding: 8px;
  width: 48%;
}

.botonPago{
  display: flex;
  flex-direction:row ;
  align-items: center;
  background-color: #fff7e6;
  border: 1px solid #ffa500;
  border-radius: 10px;
  padding: 8px;
}

.iconoEnvio {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}
.seleccionado {
  background-color: #eed6a3; 
  color: white;
}
.p {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}



.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.subtotal {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 10px;
}

.botonPagar {
  background-color: #00b94a;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 10px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}

.botonGuardar, .botonCancelar {
  margin-top: 10px;
  padding: 2px 10px;
  border-radius: 7px;
  border: none;
  font-size: 15px;
}

.botonGuardar {
  background-color: #4caf50; 
  color: white;
}

.botonCancelar {
  background-color: #f44336; 
  color: white;
}

.cupon{
  display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.iconocupon{
  width: 30px;
  height: 30px;

}

.cuponContainer {
  margin-top: 20px;
}

.inputCupon {
  width: 52%;
  margin-right: 15px;
  padding: 7px;
  border: 1px solid #ffa500;
  border-radius: 10px;
  margin-top: 10px;
}

.botonAplicarCupon {
  background-color: #34e451ee; 
  color: white;
  padding: 7px 10px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
}

.botonAplicarCupon:disabled {
  background-color: #d3d3d3;
}

/* Agregar al CSS */
.botonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.botonIrAPagar {
  background-color: #00b94a;
  color: white;
  padding: 10px 20px;
  margin-Top: 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  max-width: 250px;
  transition: background-color 0.3s ease;
}

.botonIrAPagar:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}

.botonIrAPagar:hover:not(:disabled) {
  background-color: #019e36;
}
