.headerContainer {
  position: relative;
  width: 100%;
}


.botonCarrito {
  margin-left: 35%;
  padding: 10px 20px;
  background-color: #c96227ce;  
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}


