.botonHistorial {
    display: inline-block;
    
    cursor: pointer; /* Añadir cursor de puntero para indicar que es clickeable */
}

.fotoHistorial {
    width: 35px;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
}

.desc{
    font-size: 14px;
}