.direccion-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column; /* Para apilar los botones verticalmente */
}

/* direccion.modules.css */

.Adress-button {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    background-color: #FFFAF0;
    border: 1px solid #FFA500;
    border-radius: 10px;
    padding: 12px 20px; /* Ajustar el padding para mantener el tamaño */
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    width: 200px; /* Ajustar el ancho del botón */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px; /* Margen inferior para separación */
}

.Adress-button:hover {
    background-color: #FFF0E6; /* Cambiar color de fondo al pasar el mouse */
}

.Adress-button:focus {
    outline: none;
    background-color: #FFFAF0; /* Mantener el fondo al hacer clic */
    border: 1px solid #FFA500; /* Mantener el borde al hacer clic */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Mantener la sombra al hacer clic */
}

/* Estilos para opciones de dirección */

.direccion-opciones {
    position: absolute;
    top: calc(100% + 8px); /* Colocar debajo del botón principal */
    left: 0;
    right: 0;
    display: none;
    flex-direction: column; /* Apilar verticalmente */
    background-color: transparent; /* Fondo transparente */
    border: none; /* Sin borde */
    box-shadow: none; /* Sin sombra */
    transition: max-height 0.3s ease, opacity 0.3s ease;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    z-index: 1000; /* Asegurarse de que el menú esté por encima de otros elementos */
}

.direccion-opciones.show {
    display: flex;
    max-height: 300px; /* Altura máxima para la animación */
    opacity: 1;
    overflow-y: auto; /* Habilitar el desplazamiento vertical */
}

.direccion-opciones .Adress-button {
    margin: 4px 0; /* Espaciado entre los botones */
    width: 100%; /* Ajustar ancho al 100% para ocupar todo el espacio disponible */
}

@media (max-width: 600px) {
    .Adress-button {
        font-size: 14px;
        padding: 10px 16px; /* Ajustar padding para dispositivos móviles */
        width: 180px; /* Ajustar el ancho para dispositivos móviles */
    }

    .direccion-opciones .Adress-button {
        font-size: 14px;
        padding: 10px 16px; /* Ajustar padding para dispositivos móviles */
    }

    .direccion-opciones.show {
        max-height: 200px; /* Reducir la altura máxima en pantallas pequeñas */
    }
}
