body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: non;
}

.direccion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Adjust margin as needed */
}

.Adress-button {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    background-color: #fff;
    border: 1px solid #FFA500;
    border-radius: 16px;
    padding: 8px 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 8px 0;
    width: 200px; /* Adjust width as needed */
    text-align: center;
}

.Adress-button:hover {
    background-color: #f0f0f0;
}

.Adress-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 165, 0, 0.5);
}

.direccion-opciones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 600px) {
    .Adress-button {
        width: 150px; /* Adjust width for smaller screens */
        font-size: 14px;
        padding: 6px 12px;
    }

    .direccion-container {
        margin-top: 20px; /* Adjust margin for smaller screens */
    }
}