.botonAyuda {
    display: inline-block;
    cursor: pointer; /* Añadir cursor de puntero para indicar que es clickeable */
}

.fotoAyuda {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}