/* view/inicio/inicio.module.css */
.inicioContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    position: relative;
  }
  
  .topSection {
    width: 100%;
    height: 120px; /* Ajusta la altura según sea necesario */
    background-color: #FFAE12;
    position: relative;
  }
  
  .topSection::after {
    content: '';
    width: 100%;
    height: 100px; /* Ajusta la altura del arco */
    background-color: #ffffff;
    position: absolute;
    bottom: -50px; /* Para que la curva se muestre en la parte inferior de la sección */
    left: 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    z-index: 1;
  }
  