@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
  font-family: 'Poppins', sans-serif; /* Aplica la fuente Poppins a todo */
  padding-left: 30px; /* Añade un margen izquierdo al contenedor de tarjetas */
}

.card {
  display: flex;
  flex-direction: column; /* Cambia la dirección del contenido para mantener los controles en la parte inferior */
  justify-content: space-between; /* Asegura que los controles estén al final */
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
  margin-left: 5px; /* Añade un margen izquierdo a cada tarjeta */
}

.card:hover {
  transform: scale(1.02);
}

.cardInner {
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos al centro */
}

.logo {
  border-radius: 10px;
  max-width: 80px;
  margin-right: 15px;
  align-self: center; /* Alinea la imagen al centro del contenedor flex */
}

.cardContent {
  flex-grow: 1;
}

.h3 {
  margin: 0;
  font-size: 1.0em;
  color: #333;
  font-weight: 600;
}

.p {
  margin: 5px 0;
  color: #666;
  font-size: .9em;
}

.cardPrice {
  margin-top: 10px;
  display: flex;
  flex-direction: column; /* Asegura que el precio original esté arriba del precio con descuento */
}

.priceDiscount {
  text-decoration: line-through;
  color: #999; /* Color gris para el precio original */
  font-size: 0.7em;
  margin-bottom: 5px;
}

.price {
  font-size: 1.2em; /* Más grande para destacar */
  color: #FF9800; /* Naranja para el precio con descuento */
  font-weight: 600;
}

.cardQuantity {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra los controles horizontalmente */
  margin-top: 10px;
}

.quantity {
  margin: 0 10px;
  font-size: 1.2em;
}

.btnDecrease, .btnIncrease {
  background-color: #FF9800;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 1em;
  cursor: pointer;
}

.btnDecrease:hover, .btnIncrease:hover {
  background-color: #e68a00;
}

@media (max-width: 768px) {
  .cardsContainer {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-left: 0; /* Elimina el margen izquierdo en dispositivos móviles */
  }

  .card {
    width: 90%;
    margin-bottom: 10px;
    margin-left: 0; /* Elimina el margen izquierdo en dispositivos móviles */
  }

  .cardPrice {
    margin-top: 10px;
    flex-direction: column;
    align-items: flex-start; /* Alinea el contenido al inicio en dispositivos móviles */
  }

  .cardQuantity {
    margin-top: 10px;
    justify-content: end; /* Centra los controles en dispositivos móviles */
    width: 100%;
  }
}
